.category-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.category{
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #eee;
    font-size: 0.925rem;
}

@media only screen and (max-width: 540px){
    .row{
        flex-direction: column;
    }
}

@media only screen and (max-width: 420px){
    .category{
        margin: 2px;
        width: 9rem;
    }
}

@media only screen and (max-width: 960px){
    .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.category.active{
    border: 3px solid var(--primary-color);
    color: var(--light-primary-color);
}

.result{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}