.container-lg{
        width: 90%;
        min-height: 500px;
        z-index: 10;
        background-color: #263142;
        color: #eee;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
        margin: 50px auto;    
}

@media only screen and (min-width: 1200px){
        .container-lg, .main-container{
                max-width: 1200px;
        }
}
    