footer {
    padding-bottom: 20px;
    background: var(--dark-secondary-color);
    color: #f9f9f9;
}

footer section {
    padding: 0 50px;
}

@media only screen and (min-width: 600px){
    footer section{
        margin: 30px;
    }
}

section.top {
    padding-top: 30px;
    margin-bottom: 30px;
}

section.top img {
    display: block;
    height: 30px;
    margin: 0 0 30px;
}

section.top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

@media (width > 480px) {
    section.top ul {
        padding-right: 10%;
    }
}

@media (width > 600px) {
    section.top ul {
        grid-template-columns: repeat(4, 1fr);
        padding-right: 0;
    }
}

section.top ul li a {
    display: block;
    margin-bottom: 10px;
    color: #ffffffe6;
}

section.top h3 {
    color: #bababa;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

section.bottom {
    padding-top: 10px;
    border-top: 2px solid #ffffff6c;
    color: #ffffff6c;
    font-size: 13px;
}