.game-card {
    width: 100%;
    height: 430px;
}

.game-card-body {
    margin: 20px;
    height: 95%;
}

.game-card img {
    width: max-content;
    border-radius: 15px;
}

.game-card-text {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game-card-text p {
    width: 100%;
    padding: 5px 0px 0px 5px;
    display: flex;
    justify-content: space-between;
}

.game-card h2 {
    text-align: center;
    font-weight: 400;
}

.game-card a {
    text-decoration: none;
    background-color: var(--dark-primary-color);
    color: #fff;
    text-align: center;
    width: 12rem;
    border-radius: 5px;
    height: 2.25rem;
}

.gamecard a:hover{
    transition: 0.2s linear;
    opacity: 0.7;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
}