.page-controls {
    margin: 20px auto;
    /* border: 1px solid #fff; */
    width: 75%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-controls button {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px 10px 0px 10px;
}

.catalogue-list .mini-card{
    animation-delay: 0s !important;
}

@media only screen and (max-width: 920px) {
    .page-controls button:not(.fa){
        display: none;
    }
}

.page-controls button:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page-controls button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:disabled,
button:hover {
    background-color: var(--light-secondary-color);
}

button:disabled {
    cursor: default;
}


.filters{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filters h2{
    font-weight: 400;
}

.filters select{
    margin: 3px 20px 0px 20px;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    background-color: var(--light-secondary-color);
    border: none;
    color: #fff;
    outline: 0;
    cursor: pointer;
    appearance: none;
}

/* Estilizando a seta do Select */
select::after {
    background-color: #fff;
    color: #fff;
}

option{
    padding: 10px !important;
}