.page-controls{
    margin: 20px auto;
    /* border: 1px solid #fff; */
    width: 75%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-controls button{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px 10px 0px 10px;
}

.page-controls button:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:disabled, button:hover{
    background-color: var(--light-secondary-color);
}

button:disabled{
    cursor: default;
}