.about-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    /* border: 1px solid #fff; */
    min-height: 400px;
}

@media only screen and (min-width: 920px){
    .about-container{
        width: 97% !important;
    }
}

.about-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 1px solid #Fff; */
}

.about-container h2{
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}
.about-container h3{
    font-weight: 400;
}
.about-container p{
    line-height: 2rem;
    margin-bottom: 20px;
    max-width: 40rem;
    text-align: justify;
}

.about-bottom {
    /* border-top: 2px solid #eeefff6c; */
    color: #eeefff6c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons a{
    font-size: 1.2rem;
    color: #eeefff6c;
    text-decoration: none;
}

.api-text{
    color: #eeefff6c;
    font-size: 0.9rem;
}

.api-text a{
    color: inherit;
}
.api-text p{
    margin: 0;
}