.contact-container{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.right-column{
    flex: 1;
    min-width: 300px;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #fff;
}

.right-column h2{
    font-weight: 400;
}

.right-column img{
    width: 10rem;
}

.right-column .social-icons{
    margin-bottom: 30px;
}