.page-controls {
    margin: 20px auto;
    /* border: 1px solid #fff; */
    width: 75%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-controls button {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px 10px 0px 10px;
}

.catalogue-list .mini-card{
    animation-delay: 0s !important;
}

@media only screen and (max-width: 920px) {
    .page-controls button:not(.fa){
        display: none;
    }
}

.page-controls button:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page-controls button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:disabled,
button:hover {
    background-color: var(--light-secondary-color);
}

button:disabled {
    cursor: default;
}

.filters{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.filters h2{
    font-weight: 400;
}

.select{
    display: flex;
    flex-direction: column;
    background-color: var(--alt-secondary-color);
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.select-button{
    width: 16rem;
    display: flex;
    cursor: pointer;
    height: 2.5rem;
    color: #fff;
    border: none;
    font-size: 1rem;
    text-indent: 10px;
    background-color: var(--alt-secondary-color);
    align-items: center;
    justify-content: space-between;
}

.select-button span:nth-child(2){
    font-size: 1.5rem;
    margin-right: 10px;
}

.select-button:hover{
    background-color: inherit;
}

.select-option{
    cursor: pointer;
    padding: 7px 0px 5px 0px;
    border: 2px solid var(--alt-secondary-color);
    text-indent: 8px;
    align-items: flex-end;
    justify-content: flex-end;
    height: 2.5rem;
    width: 100%;
}

.select-option.selected{
    border: 2px solid var(--primary-color);
}

.optgroup{
    position: absolute;
    margin-top: 2.5rem;
    z-index: 99;
    background-color: var(--alt-secondary-color);
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.select-option:hover{
    border: 2px solid var(--primary-color);
}