.about-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    /* border: 1px solid #fff; */
    min-height: 400px;
}


@media only screen and (min-width: 920px){
    .about-container{
        width: 97% !important;
    }
}

.about-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* border: 1px solid #Fff; */
}

.about-header h2{
    font-weight: 400;
    margin-bottom: 20px;
}

.about-container p{
    line-height: 2rem;
}

.about-bottom {
    /* border-top: 2px solid #eeefff6c; */
    color: #eeefff6c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons a{
    font-size: 1.2rem;
    color: #eeefff6c;
    text-decoration: none;
}
