@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #0040C1;
  --light-primary-color: #6196ff;
  --dark-primary-color: #004aac;
  --secondary-color: #151d27;
  --light-secondary-color: #384558;
  --dark-secondary-color: #121920;
}

body {
  background: var(--secondary-color);
  color: #eee;
}

*{
  font-family: 'Outfit', sans-serif;
}

html{
  scroll-behavior: smooth;
}