.cookies-container.active {
    display: flex;
}

.cookies-container {
    display: none;
    background-color: #10171d99;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    width: 100%;
    height: 60px;
}

.cookies-container button, .cookies-container a{
    width: 10rem;
    height: 2.4rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

@media only screen and (max-width: 720px){
    .cookies-opt{
        display: none;
    }
    .cookies-container{
        height: 70px;
    }
    .cookies-container button, .cookies-container a{
        margin: 5px;
        font-size: 0.7rem;
    }
    /* .cookies-container a{
        
    } */
    .cookies-container p{
        margin: 5px 0px 5px 5px;
        font-size: 0.8rem;
    }
}

.cookies-container button{
    color: #fff;
    background-color: var(--dark-primary-color);
}

.cookies-container button:hover{
    opacity: 0.7;
    background-color: var(--dark-primary-color);
}

.cookies-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-primary-color);
    background-color: #fff;
    text-decoration: none;
}

.cookies-container a:hover{
    opacity: 0.7;
}