.email-container{
    height: 25rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}

.email-container h2{
    font-weight: 400;
    text-align: center;
    font-size: 1.3rem;
}

.email-container div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px auto;
    width: 95%;
}

.email-container input, .email-container textarea{
    outline: 0;
    background-color: var(--alt-secondary-color);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 95% !important;
    margin-top: 3px;
}

.email-container textarea{
    height: 150px;
    resize: none;
}

textarea{
    padding: 5px;
}

.email-container button{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email-container input{
    text-indent: 5px;
    height: 2rem;
}