.social-icons {
    display: flex;
    justify-content: space-around;
    width: 10rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons a {
    font-size: 1.5rem;
    color: #eeefff6c;
    text-decoration: none;
    transition: 0.2s linear;
}

.social-icons a:nth-child(1):hover{
    color: var(--dark-secondary-color);
}
.social-icons a:nth-child(2):hover{
    color: var(--light-primary-color);
}
.social-icons a:nth-child(3):hover{
    color: #f71e83;
}